:root {
    --primary-body-bg: #0A1423;
    --primary-section-bg: #171E2A;
    --primary-testimonial-bg: #20293B;
    --accent-light-blue: #329ECC;
    --accent-light-cyan: #64E1D9;
    --neutral-white: #ffffff;
    --error-red: #e05b62;
}

* {
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    background-color: var(--primary-body-bg);
    color: var(--neutral-white);
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--neutral-white);
}

/* Section */
section {
    padding: 50px 40px;
}

/* Typography */
.display1 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.875em;
    margin: 0 0 30px 0;
}

.display2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.625em;
    margin: 0 0 30px 0;
}

.display3 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.25em;
    margin: 0 0 30px 0;
}

.introduction__p {
    font-size: 0.875em;
    margin: 0 0 30px 0;
    line-height: 1.6;
}

#how-it-works__p {
    font-size: 0.875em;
    margin: 0 0 30px 0;
    line-height: 1.6;
    text-align: left;
}

span {
    font-size: 1.25em;
}

/* Page Styling */

.highlight {
    color: var(--accent-light-cyan);
}

.seperation {
    background-color: var(--neutral-white);
    width: 200px;
    height: 1px;
}

/* Buttons Styles */
.btn--blue {
    background-color: var(--accent-light-blue);
    color: var(--neutral-white);
    font-weight: 700;
    text-transform: uppercase;
    padding: 10px 50px;
    border-radius: 50px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: all 0.2s ease-out 0s;
}

.btn--blue:hover {
    box-shadow: 0 0 0 2px var(--accent-light-blue);
    background-color: transparent;
}

/* Images styles */
.section__img {
    width: 100%;
    margin: 50px 0;
}

/* Header */
header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 40px;
}

#logo {
    width: 100px;
}

/* Navigation */
.nav__list {
    display: none;
}

/* Hamburger Menu */
.line {
    width: 30px; 
    height: 3px;
    background-color: var(--neutral-white);
    margin-bottom: 5px;
}

/* Intro */
#introduction {
    background-color: var(--primary-section-bg);
    text-align: center;
}

#intro__content {
    opacity: 0;
    transform: translate(-20%, 0px);
    transition: all 0.5s ease-out 0s;
}

/* Features */
#features {
    text-align: center;
    opacity: 0;
    transform: translate(-20%, 0px);
    transition: all 0.5s ease-out 0s;
}

.icon--features {
    height: 53px;
    margin: 50px 0 20px 0;
}

/* How It Works */
#how-it-works {
    text-align: center;
    opacity: 0;
    transform: translate(0px, 20%);
    transition: all 0.5s ease-out 0s;
}

.how-it-works__card {
    margin: 0 0 50px 0;
}

/* Testimonials */
#testimonials {
    padding: 0;
    position: relative;
}

.quotes {
    position: absolute;
    top: -10%;
    left: 50px;
    z-index: 20;
}

.testimonials__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: var(--primary-testimonial-bg);
    padding: 30px;
}

.user--img {
    width: 50px;
    border-radius: 50%;
}

.comment {
    margin: 30px 0 0 0;
    line-height: 1.6;
}

/* Get Demo */
#get-demo {
    opacity: 0;
    transform: translate(0px, 20%);
    transition: all 0.5s ease-out 0s;
}

#request {
    display: block;
    font-weight: 700;
    margin: 0 0 20px 0;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    background-repeat: no-repeat;
    background-position: 95% 50%;
    padding: 10px;
    margin: 0 0 20px 0;
    border: none;
}

textarea {
    resize: none;
    height: 150px;
    padding: 5px 10px;
    margin: 0 0 20px 0;
}

.error--text {
    font-size: 0.875em;
    color: var(--error-red);
    display: block;
    text-align: right;
}

#location,
#phone,
#mail {
    display: block;
    text-align: center;
    font-size: 1em;
    padding: 0 60px;
    margin: 30px auto;
}

/* Footer */
footer {
    background-color: var(--primary-section-bg);
    padding: 20px 40px;
}

.social-media {
    display: flex;
    align-items: center;
    justify-content: center;
}

.social-media__icon {
   height: 26px;
   margin: 0 20px;
   cursor: pointer;
}

@media (min-width: 768px) {
    #hamburger {
        display: none;
    }

    .nav__list {
        display: initial;
    }

    .nav--item {
        display: inline;
        margin: 0 20px;
    }

    .nav--link {
        transition: all 0.2s ease-out 0s;
    }

    .nav--link:hover {
        color: var(--accent-light-blue);
    }

    section {
        padding: 100px 70px 70px 70px;
    }

    .display1 {
        padding: 0;
    }

    .introduction__p {
        padding: 0 15%;
    }

    .section__img {
        padding: 0 20%;
    }

    #features {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 100px 70px;
    }

    .features__content {
        width: 48%;
        padding: 0 20px 20px 20px;
    }

    /* How it works */
    .how-it-works__card {
        display: flex;
        align-items: center;
    }

    #location--img {
        width: 50%;
        padding: 0;
        margin: 0 20px;
    }

    #share--img {
        width: 50%;
        padding: 0;
        order: 2;
        margin: 0 20px;
    }

    .description {
        text-align: left;
    }

    .btn--blue {
        margin: 0 20%;
    }

    #contact {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 20px 0;
    }

    #location,
    #phone,
    #mail {
        width: 30%;
        padding: 0 10px;
        margin: 0;
    }

    .seperation {
        width: 1px;
        height: 50px;
    }
}

@media (min-width: 1350px) {
    .nav--item {
        cursor: pointer;
    }

    #intro--heading {
        padding: 0 30%;
    }

    .introduction__p {
        padding: 0 35%;
    }

    .section__img {
        padding: 0 30%;
    }

    .features__content {
        width: 30%;
    }

    #how-it-works {
        padding: 0 400px;
    }

    .how-it-works__card {
        margin: 0 0 100px 0;
    }

    #share--img,
    #location--img {
        margin: 0 40px;
    }

    .description {
        margin: 0;
    }

    .testimonials__card {
        padding: 30px 30%;
    }

    #get-demo {
        padding: 70px 400px;
    }
}